.react-date-picker {
    width: 100%;
}

.react-date-picker__wrapper {
    width: 100%;
    line-height: 2.28;
    border-radius: 4.5px;
    border: 1px solid rgb(192,192,192);
    margin-top: 3.20vh;
}