/* _02_forgotpassword */

@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-hcenter {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-vstart-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._-02-_forgot-password {
  position: relative;
  padding: 0px 0px 0px 660px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  width: 1600px;
  height: 900px;
}

.design {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 41.31%;
  right: 17.37%;
  padding: 198px 0px 0px 386px;
  box-sizing: border-box;
  background-color: rgba(44, 47, 52, 1);
  transform: rotate(-180deg);
  width: 661px;
  height: 100%;
}

.logo {
  width: 200px;
  height: 40.23px;
}

.available-on {
  position: relative;
  transform: rotate(-180deg);
  width: 112px;
  height: 51px;
}

.txt-356 {
  position: absolute;
  top: 0%;
  bottom: 64.71%;
  left: -16.96%;
  right: 50.89%;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 138%;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 74px;
  height: 18px;
  word-wrap: break-word;
}

.group-1012 {
  position: absolute;
  top: 27px;
  left: 0px;
  padding: 0px 88px 0px 0px;
  box-sizing: border-box;
  border: 1px solid rgba(117, 124, 133, 1);
  transform: rotate(-180deg);
  height: 24px;
  width: 100%;
}

.apple-logo-1 {
  width: 24px;
  height: 100%;
}

.play-store-1 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -39.29%;
  right: 117.86%;
  width: 24px;
  height: 100%;
}

.icon-windows {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -78.57%;
  right: 157.14%;
  width: 24px;
  height: 100%;
}

.mask-group {
  position: absolute;
  top: 900px;
  left: 661px;
  width: 661px;
  height: 900px;
}

.abstract-patterns {
  position: absolute;
  top: 80.67%;
  bottom: 0%;
  left: 100%;
  right: -27.23%;
  width: 180px;
  height: 174px;
}

.text {
  position: absolute;
  top: 630px;
  left: 557px;
  transform: rotate(-180deg);
  width: 453px;
  height: 80px;
}

.txt-539 {
  position: absolute;
  top: 0%;
  bottom: 60%;
  left: 0%;
  right: 0%;
  font-size: 26px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 123%;
  color: rgba(255, 255, 255, 1);
  width: 453px;
  height: 32px;
  word-wrap: break-word;
}

.txt-612 {
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: -3.31%;
  right: 12.36%;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 133%;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 412px;
  height: 40px;
  word-wrap: break-word;
}

.frame {
  position: absolute;
  top: 274px;
  left: 552px;
  padding: 12px 32px 13px 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgba(250, 250, 251, 1);
  filter: blur(12px);
  transform: rotate(-180deg);
  width: 442px;
  height: 321px;
}

.img-1 {
  border-radius: 6px;
  background-color: rgba(250, 250, 251, 1);
  box-shadow: 0px 19px 25px rgba(37, 38, 49, 0.56);
  transform: rotate(-180deg);
  height: 100%;
}

.rectangle-536 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 74.81px;
  height: 6.56px;
  border-radius: 1px;
}

.rectangle-537 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 74.81px;
  height: 13.13px;
  border-radius: 1px;
  margin-bottom: 4px;
}

.rectangle-538 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 49.88px;
  height: 6.56px;
  border-radius: 1px;
  margin-bottom: 16px;
}

.group-152 {
  padding: 0px 0.19px 0.06px 0px;
  box-sizing: border-box;
  height: 101.06px;
  width: 100%;
}

.group-344 {
  padding: 9px 252px 8px 10px;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid rgba(220, 227, 234, 0.7);
  width: 303px;
  height: 26px;
}

.rectangle-546 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 40.69px;
  border-radius: 1px;
  height: 100%;
}

.group-515 {
  padding: 9px 218px 8px 10px;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid rgba(220, 227, 234, 0.7);
  width: 303px;
  height: 26px;
}

.rectangle-542 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 74.81px;
  border-radius: 1px;
  height: 100%;
}

.group-100 {
  padding: 9px 201px 8px 10px;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid rgba(220, 227, 234, 0.7);
  width: 303px;
  height: 26px;
}

.rectangle-545 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 91.88px;
  border-radius: 1px;
  height: 100%;
}

.group-403 {
  padding: 9px 147px 8px 10px;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid rgba(220, 227, 234, 0.7);
  width: 303px;
  height: 26px;
}

.rectangle-540 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 145.69px;
  border-radius: 1px;
  height: 100%;
}

.rectangle-531 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 161.44px;
  height: 13.13px;
  border-radius: 2px;
}

.ellipse-20 {
  background-color: rgba(255, 163, 112, 1);
  width: 15.75px;
  height: 15.75px;
  border-radius: 8px;
}

.ellipse-19 {
  background-color: rgba(220, 227, 234, 0.7);
  width: 21px;
  height: 21px;
  border-radius: 10.5px;
}

.rectangle-529 {
  height: 28.88px;
  width: 100%;
}

.rectangle-530 {
  width: 85.31px;
  height: 100%;
}

.contact-support {
  position: absolute;
  top: 0px;
  left: 661px;
  padding: 27px 114px 27px 672px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  width: 939px;
  height: 80px;
}

.content {
  height: 100%;
}

.icon-others {
  width: 24px;
  margin-right: 8px;
  height: 100%;
}

.frame-1 {
  height: 100%;
}

.txt-742 {
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 160%;
  color: rgba(44, 47, 52, 1);
  word-wrap: break-word;
}

.details {
  position: absolute;
  top: 264px;
  left: 920px;
  width: 420px;
  height: 316px;
}

.text-1 {
  margin-bottom: 50px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-186 {
  font-size: 30px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 133%;
  color: rgba(44, 47, 52, 1);
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 7px;
}

.txt-397 {
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 133%;
  color: rgba(117, 124, 133, 1);
  text-align: center;
  word-wrap: break-word;
}

.input-box {
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
}

.form-inputbox-2 {
  padding: 3px 40px 1px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background: linear-gradient(
      0deg,
      rgba(250, 250, 251, 1),
      rgba(250, 250, 251, 1)
    ),
    linear-gradient(0deg, rgba(250, 250, 251, 1), rgba(250, 250, 251, 1));
  border: 4px solid rgba(255, 67, 17, 1);
  width: 100%;
  height: 100%;
}

.txt-023 {
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 138%;
  color: rgba(117, 124, 133, 1);
  width: 362px;
  word-wrap: break-word;
}

.txt-2106 {
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 160%;
  color: rgba(44, 47, 52, 1);
  width: 362px;
  word-wrap: break-word;
}

.group-1017 {
  width: 100%;
}

.text-48px-large-1-primary {
  padding: 13px 18px 12px 19px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(44, 47, 52, 1);
  width: 100%;
}

.txt-278 {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 381px;
  word-wrap: break-word;
}

.item {
  width: fit-content;
}

.txt-176 {
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 160%;
  color: rgba(117, 124, 133, 1);
  text-align: center;
  word-wrap: break-word;
  opacity: 0.8;
}

.txt-1762 {
  color: rgba(255, 67, 17, 1);
}
